@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-bg {
    background-image: url('/src/assets/images/hero-Image.png'); /* Path to your custom image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
  }
  .contact-bg {
    background-image: url('/src/assets/images/contact-bg.png'); /* Path to your custom image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
  }






  ::-webkit-scrollbar {
    width: 10px;
    height: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    margin: 20px;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7B68FF38;
    height: 10px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7B68FF38;
    height: 10px;
  }